
<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Add your Spanish Phrase</h2>
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<form ng-submit="new.saveCard()">
						<div class="row">
<!-- <input type="hidden" name="subject" ng-init="subject="spanish";" ng-value="subject"/> --><!-- input type="hidden" name="spanish" value="{{newCard.subject}}"/>  -->
						<div class="col-md-6">
								<div class="form-group">
							
								 <label for="phrase_in_english">English Phrase:</label>
									<input class="form-control" type="text" ng-model="new.newCard.question">	
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
								 <label for="phrase_in_spanish">Spanish Phrase:</label>
									<input type="text" class="form-control" ng-model="new.newCard.answer">
								</div>
							</div>
				
						</div>
						  <input class="btn btn-primary" type="submit" value="Add">
					</form>
					
				</div>
        		
        	</div>
       </div>
	</div>
