<h2>Edit {{edit.updatedCard.subject}} Phrase</h2>

<form ng-submit="edit.updateCard()">
  <label for="subject">Subject:</label>

<input placeholder="{{edit.updatedCard.subject}}" ng-model="edit.updatedCard.subject">   <label for="question">Question:</label> 
<input placeholder="{{edit.updatedCard.question}}" ng-model="edit.updatedCard.question">   <label for="answer">Answer:</label> 
<input placeholder="{{edit.updatedCard.answer}}" ng-model="edit.updatedCard.answer">  


  <input type="submit" value="Update">

</form>


	