<div class="container">
    <h2>Here's Your Phrase</h2>

    <div class="fh5co-spacer-sm"></div>
    <a class="btn btn-block btn-sm btn-primary" href="/{{show.oneCard.subject}}/{{show.oneCard.id}}/edit">Make an edit </a>

    <div class="row">

        <div id="fh5co-board" data-columns>
            <div class="col-md-4">
                <div class="fh5co-pricing-table">
                <h3>Subject: {{show.oneCard.subject | capitalize:'first'}} </h3>
                <h3>Question: {{show.oneCard.question}}</h3>
                <h3>Answer: {{show.oneCard.answer}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


