<div class="container">
    <h2>Here's Your Phrase</h2>
    <div class="fh5co-spacer-sm"></div>
    <a class="btn btn-block btn-sm btn-primary" href="/italian/{{showIt.oneCard.id}}/edit">Make an edit </a>
test2
    <div class="row">

        <div id="fh5co-board" data-columns>
            <div class="col-md-4">
                <div class="fh5co-pricing-table">
                <h3>{{showIt.oneCard.subject}}</h3>
                <h3>{{showIt.oneCard.question}}</h3>
                <h3>{{showIt.oneCard.answer}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


